{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>

<form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.user_id.label }}<br>
        {{ form.user_id(size=32) }}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>

{% if form.errors %}
<ul>
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}